
IMS/.sonarlint/IMS.slconfig
*.ruleset
IMS/.vs/IMS/v16/.suo
IMS/.vs/IMS/config/applicationhost.config
IMS/.vs/IMS/v16/Server/sqlite3/db.lock
bin
obj
IMS/.vs/IMS/v16/Server/sqlite3/storage.ide
IMS/IMSService/IMSService.csproj.user
