<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.WinForms" version="10.0.40219.1" targetFramework="net45" />
  <package id="ReportViewer.WebForms" version="12.0.2402.20" targetFramework="net45" />
  <package id="WiX" version="3.11.1" targetFramework="net45" />
</packages>