<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="ImsConnection" connectionString="Data Source=192.168.1.101;Initial Catalog=Test;User ID=sa;Password=password@123;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ImsConnection" connectionString="Data Source=JIGAR1;Initial Catalog=IMS_GST;User ID=sa;Password=sevenrays;" providerName="System.Data.SqlClient" />-->
    <add name="ImsConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Test;persist security info=True;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="DataServiceConfiguration" closeTimeout="10:00:00" receiveTimeout="10:00:00" sendTimeout="10:00:00" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="InvoiceServiceConfiguration" closeTimeout="10:00:00" receiveTimeout="10:00:00" sendTimeout="10:00:00" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="IMSService.Services.DataService" behaviorConfiguration="serviceBehaviour">
        <endpoint binding="basicHttpBinding" bindingConfiguration="DataServiceConfiguration" contract="IMSService.Services.IDataService" />
      </service>
      <service name="IMSService.Services.InvoiceService" behaviorConfiguration="serviceBehaviour">
        <endpoint binding="basicHttpBinding" bindingConfiguration="InvoiceServiceConfiguration" contract="IMSService.Services.IInvoiceService" />
      </service>
    </services>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>